body {
  background-color: rgb(90, 196, 196);
  margin-left: 10px;
}

.actionHeaders {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(238, 234, 234);
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

